:global
	*,
	*:after,
	*:before
		margin: 0
		padding: 0
		box-sizing: border-box

	html
		font-size: var(--font-size-base)
		box-sizing: inherit

	body
		font-size: var(--font-size-base)
		font-family:var(--font-family)
		font-smoothing: antialiased

		line-height: 1.5

		text-rendering: optimizeLegibility
		text-size-adjust: none

		background: white

	h1, h2, h3, h4, h5, h6
		margin: 0

	ol li,
	ul li
		list-style: none

	a
		text-decoration: none

	img
		max-width: 100%

	button 
		background: none;
		border: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		padding: 0;

.main
	padding-top: 70px
	transition: all .4s ease-in-out